@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400i,700,700i|Lora:400,400i,700,700i&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*  Desiree custom css  */

/*.navbar-extension{
  display: block;
  width: 100%;
  background-color: rgba(255,255,255);
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  z-index:1;
} */

/* next 3 rules for setting large image at top of each page and pushing book content to appear beneath that */

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 390px;
  /*background-image: url("images/books.jpg");*/
  background-color: #3fb5bd;
}

.hero-image {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.page-inner {
  padding-top: 440px !important;
}



.book .book-body .page-wrapper .page-inner section.normal a {
  color: #15afc5;
}

.book.font-family-1 {
  font-family: 'Karla', arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Lora', arial, sans-serif;
}

.book .book-body .page-wrapper .page-inner section.normal h1, 
.book .book-body .page-wrapper .page-inner section.normal h2, 
.book .book-body .page-wrapper .page-inner section.normal h3, 
.book .book-body .page-wrapper .page-inner section.normal h4, 
.book .book-body .page-wrapper .page-inner section.normal h5, 
.book .book-body .page-wrapper .page-inner section.normal h6 {
    margin-top: 2.275em;
    margin-bottom: 1em;
}

.title {
  font-family: 'Lora';
  font-size: 4em !important;
  color: #3fb5bd;
  margin-top: 0.275em !important;
  margin-bottom: 0.35em !important;
}

.subtitle {
  font-family: 'Lora';
  color: #0b8d96;
}
  

/* DROP CAPS*/


/*p:nth-child(2):first-letter {   /* /* DROP-CAP FOR FIRST P BENEATH EACH H1 OR H2*/ /*
  color: #3fb5bd;
  float: left;
  font-family: 'Abril Fatface', serif;
  font-size: 7em;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  margin-bottom: 9px;
}
*/


.section.level1 > p:first-of-type:first-letter { /*drop cap for first p beneath level 1 headers only within class .section*/
  color: #3fb5bd;
  float: left;
  font-family: 'Abril Fatface', serif;
  font-size: 7em;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  margin-bottom: 9px;
}

.section.level2:first-of-type > p:first-of-type:first-letter { /*drop cap for first p beneath first level 2 section*/
  color: #3fb5bd;
  float: left;
  font-family: 'Abril Fatface', serif;
  font-size: 7em;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  margin-bottom: 9px;
}




/* TOC */

.book .book-summary {
  background: white;
  border-right: none;
}

.summary{
  font-family: 'Karla', sans-serif;
}

.summary a:hover {
  color: #3ea2aad9 !important;
} 

.book .book-summary ul.summary li.active>a {
  color: #379fa7 !important;
} 

.book .book-summary ul.summary li span { /* for Parts */
  color: black;
  opacity: .9;
  text-transform: uppercase;
}

/*
.part {
  text-transform: uppercase !important; 
}
*/

ul.summary > li > a { /* The > selects all the li's which are immediately within the class summary*/
  font-family: 'Karla', sans-serif;
}

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
	height: 0px;
}


/* source code copy button */
.copy {
  width: inherit;
  background-color: #e2e2e2 ;
  border: none;
  border-radius: 2px;
  float: right;
  font-size: 60%;
  padding: 4px 4px 4px 4px;
}

/* Sidebar formating --------------------------------------------*/
/* from r-pkgs.org*/

div.rstudio-tip, div.tip {
  border-left: 4px solid #c8e2e4;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #2ea8b3;
}

div.rstudio-tip {
  background-image: url("images/rstudio.png");
  background-color: #aed6d963;
}

div.tip {
  background-image: url("images/lightbulb.png");
  background-color: #aed6d963;
}

/* .book .book-body .page-wrapper .page-inner section.normal is needed
   to override the styles produced by gitbook, which are ridiculously
   overspecified. Goal of the selectors is to ensure internal "margins"
   controlled only by padding of container */

.book .book-body .page-wrapper .page-inner section.normal div.rstudio-tip > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.tip > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.rstudio-tip > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.tip > :last-child {
  margin-bottom: 0;
}

