p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*  Desiree custom css  */

.navbar-extension{
  display: block;
  width: 100%;
  background-color: rgba(255,255,255);
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  z-index:1;
}
.image-descript {
  margin-top: 50px;
  margin-bottom: 44px;
  position: relative;
}

.big_image {
  width: 100%;
}